# check all outputs of the flake
name: Flake Check

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  check:
    name: Check Flake Outputs
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v5

    - name: Install Nix
      uses: cachix/install-nix-action@v31

    - name: Check flake
      run: nix flake check --all-systems
